@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --tmf: #30146670;
  --svf: #5c3d9970;
  --neon: #38a3a570;
  --dg: #57cc9970;
  --lg: #80ed9970;
  --w: #ffffff;
}
#arya-body {
  background-image: url(../images/les.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vh;
}
#zaph-body {
  background-image: url(../images/pozadi.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vh;
}
#home-body {
  background-image: url(../images/hlstr.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vh;
}
#form-body{
  background-image: url(../images/library.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100vh;
}
#form-article{
  margin: .4em;
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  justify-content: center;
  background-color: var(--tmf);
}
html {
  color: var(--w);
  font-family: "Poppins", sans-serif;
}
header {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}
header h1 {
  text-align: center;
  margin: 0;
  padding: 0.99em;
}
.article__div {
  background-color: var(--neon);
  margin: 20px;
}
.article__div > p {
  text-align: center;
}
menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
menu li {
  padding: 15px;
  width: 35%;
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--w);
}
#li-arya {
  background-color: var(--dg);
}
#li-zaph {
  background-color: var(--svf);
}
#li-galery {
  background-color: var(--lg);
  margin-bottom: 10px;
}
.li-home {
  background-color: var(--neon);
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table__arya{
  background-color: var(--dg);
}
.table__zaph{
  background-color: var(--svf);
}
th, td {
  border: 1px solid gray;
  padding: .2em .4em;
  text-align: center;
}
th img, td img{
  width: 250px;
}
main img{
  width: 250px;
}
.grid-galery{
  display: grid;
  grid-template-columns: 300;
  justify-items: center;
  align-items: center;
  gap: 15px;
}
.ul--no__bullets{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form{
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: center;
}
.li-home{
  margin-top: 20px;
}
.form-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form :nth-child(5){
  margin-top: 20px;
}
div > a > img{
  width: 32px;
  color: #ffffff;
}
.header-container{
  display: flex;
  justify-content: space-between;
}
.header-container > a{
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  menu {
    flex-direction: row;
    justify-content: space-around;
  }
  menu li {
    width: 200px;
  }
  .li__galery {
    margin-bottom: 0;
  }
  p {
    font-size: large;
  }
  .div--setside{
    display: flex;
    flex-direction: row-reverse;
    margin: 50px;
  }
  th img, td img{
    width: 450px;
  }
  .grid-galery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 50px;
  }
  main img{
    width: 500px;
  }
  #form-article{
    margin: .4em;
    margin-left: 22em;
    margin-right: 22em;
  }
}